@import url("https://fonts.googleapis.com/css2?family= Lato :wght@100;400 & display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
}

.logo {
  width: 40px;
  height: 40px;
}

.header {
  width: 100%;
  height: 55px;
  border: 1px solid #e0e0e0;
  background: #e0e0e0;
  display: flex;
  justify-content: center;
}

.geral {
  width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.geral span {
  display: none;
}

.header a {
  text-decoration: none;
  color: #333333;
}

h1 {
  /* título controle financeiro*/
  color: #333333;
  font-size: 20px;
}

.itens-one h1{
  margin-left: 12px;
}

.menu {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-size: 16px;
  color: #333333;
  display: flex;
  font-size: 14px;
  white-space: nowrap;
  padding: 7px;
}

.itens-one {
  display: flex;
  align-items: center;
}

.barra {
  color: #979797;
  margin-left: 12px;
  margin-right: 12px;
}

.itens {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  justify-content: space-between;
  margin-top: 30px;
}

.box-one {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #979797;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 20px;
  border-radius: 4px;
}

.box-itens {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-content {
  width: 100%;
}
.input-content-1 {
  width: 100%;
}

.box-one p {
  font-size: 14px;
}

.box-one h1 {
  margin-top: 20px;
  margin-bottom: 21px;
}

input {
  height: 32px;
  margin-bottom: 20px;
  margin-top: 5px;
  width: 97%;
  padding-left: 5px;
  }

.button {
  background: #333333;
  border-radius: 4px;
  width: 100%;
  border: none;
  border: 1px solid;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.button:hover{
  background: #4b4b4b;
}
.btn {
  width: 100%;
}

.box-two {
  width: 62%;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 21px;
}
.box-itens-two {
  width: 100%;
}
.merc-valor {
  font-size: 14px;
  color: #000000;
  border-bottom: 1px solid #979797;
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 20px;
  padding-bottom: 6px;
  margin-top: 40px;
}

.produto {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #979797;
  justify-content: space-between;
}

.product-one {
  display: flex;
  align-items: center;
}

#p1 {
  font-size: 14px;
  width: 80%;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 8px;
}

#p2 {
  color: #000000;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 7px;
}
#p3 {
  margin-left: 10px;
}

.artefato {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
}

#a1 {
  color: #000000;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 8px;
}

#a2 {
  color: #000000;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 7px;
}

.utensilho {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
}

#u1 {
  color: #000000;
  font-size: 14px;
  padding-left: 20px;
  padding-top: 7px;
  padding-bottom: 8px;
}

#u2 {
  color: #000000;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 7px;
}

.total {
  display: flex;
  justify-content: space-between;
  margin-top: 3px;
  border-top: 1px solid #979797;
}

#t1 {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  padding-left: 39px;
  padding-top: 7px;
  padding-bottom: 8px;
}

#t2 {
  color: #000000;
  font-size: 14px;
  padding-right: 20px;
  padding-top: 7px;
  font-weight: bold;
}

/* Tablet */

@media screen and (max-width: 768px) {
  .geral span {
    display: block;
  }

  .menu {
    display: none;
  }

  .itens-one {
    width: 100%;
    justify-content: space-between;
  }

  .logo {
    margin-left: 15px;
  }

  .material-icons {
    margin-right: 15px;
  }

  .itens {
    display: block;

  }
  .box-one {
    width: 90%;
    margin: 0 auto;
  }
  .box-itens {
    flex-direction: row;
  }
  .input {
    width: 92%;
      }

  .input-content-1 {
    width: 180%;
    margin-left: 10px;
  }
  .button {
    width: 40%;
  }
  .btn {
    display: flex;
    justify-content: flex-end;
  }

  .box-two{
    width: 95%;
    margin: auto;
  }
}

/* Mobile */
@media screen and (max-width: 558px) {
  .box-itens {
    flex-direction: column;
  }
  .input-content-1 {
    width: 100%;
    margin: 0;
  }
  .input {
    width: 98%;

  }


}
